/* File: client-admin/src/pages/Dashboard.module.css */
.statCard {
    padding: 1rem;
    transition: transform 0.2s ease-in-out;
}

.statCard:hover {
    transform: translateY(-5px);
}

.statCardTitle {
  color: var(--text-color-light);
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.statCardValue {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--text-color-dark);
}

.chartCard {
    padding: 1rem;
}

.chartContainer {
    height: 350px;
    width: 100%;
}